<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackstreetBoys"
        tools:targetApi="31">

        <!-- Sign-in Screen (Launcher Activity) -->
        <activity
            android:name=".Sign_inScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Completed Jobs Page (Explicit Launch & Deep Linking Support) -->
        <activity
            android:name=".CompletedJobsPage"
            android:exported="true">
            <intent-filter>
                <!-- Allows launching via an explicit intent -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Enables deep linking via a web URL -->
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="yourapp.com"
                    android:path="/completed"/>
            </intent-filter>
        </activity>

        <!-- Current Jobs Activity (Internal Only) -->
        <activity
            android:name=".CurrentJobs"
            android:exported="false" />

        <!-- Sign Up Screen -->
        <activity
            android:name=".sign_up"
            android:exported="true" />

    </application>

</manifest>
